/* HEADINGS */

h1 {
  color: white;
  font-size: 5vmax;
  font-family: 'Shadows Into Light', cursive;
  text-align: center;
  margin: auto;
  text-shadow: 5px 5px black;
}

.heading {
  margin-bottom: 10px;
}

#boxModelImage {
  max-width: 50%;
  height: auto;
  border: 5px solid black;
}

.blogPostHeading {
  text-align: center;
}

.blogPostHeading > h2 {
  font-size: 2.5vmax !important;
}

h2 {
  font-family: 'Shadows Into Light', cursive;
  color: white;
  font-size: 2vmax;
  padding-left: 10px;
  padding-right: 10px;
  text-shadow: 2px 2px black;
}

.post {
  font-family: 'Shadows Into Light', cursive;
  text-align: center;
  /* border: 2px solid white; */
  border-bottom: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid white;
  margin: auto;
  align-items: center;
  width: 80vw;
  border-radius: 50px;
  margin-bottom: 40px;
  font-size: 1vmax;
  box-shadow: 5px 5px;
  padding-bottom: 20px;
}

.concepts {
  margin-bottom: 40px !important;
  text-align: center;
  border-bottom: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid white;
  /* border: 2px solid white; */
  margin: auto;
  align-items: center;
  width: 80vw;
  border-radius: 50px;
  box-shadow: 5px 5px;
  height: 500px;
}

/* TAGS */

p {
  font-size: 1vmax;
  color: white;
  font-family: 'Shadows Into Light', cursive;
  padding-left: 30px;
  padding-right: 30px;
}

ul {
  color: white;
  list-style-type: none;
  /* text-decoration: none; */
  font-size: 1.5vmax;
}

li {
  padding-left: 15px;
  padding-right: 15px;
  display: inline;
}

nav < li:hover {
  color: black;
}

a {
  color: white;
  /* text-decoration: none; */
  font-size: 1vmax;
  font-family: 'Shadows Into Light', cursive;
  padding-left: 30px;
  padding-right: 30px;
}

a:hover {
  color: black;
  /* text-shadow: 2px 2px white; */
}

/* NAVBAR */

.nav {
  font-family: 'Shadows Into Light', cursive;
  margin: auto;
  align-items: center;
  width: 80vw;
  text-align: center;
  border: 2px solid white;
  border-radius: 50px;
  margin-bottom: 40px;
  box-shadow: 5px 5px;
  text-shadow: 2px 2px black;
}

/* IMAGES */

html {
  background: url(../blogcontent/background\ 4.avif) no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#exampleImages > img {
  max-width: 40% !important;
  height: auto !important;
  border: 5px solid black;
  /* margin-right: 20px;
  margin-left: 20px; */
  margin: 0vw 2vw 0vw 2vw;
}

#exampleImages {
  display: flex;
  justify-content: center;
}

.photo2 > img {
  width: 10vmax;
  border: 2px solid white;
  border-radius: 50%;
  margin-bottom: 30px;
  margin-top: 30px;
  box-shadow: 2.5px 2.5px;
}

.photo > img {
  width: 20vmax;
  max-width: 100%;
  height: auto;
  border: 2px solid white;
  border-radius: 50%;
  margin-top: 0;
  box-shadow: 5px 5px;
}

.photo {
  text-align: center;
  margin-top: 30px;
}

/* MEDIA QUERIES */

@media all and (max-width: 1200px) {
  li {
    display: flex;
  }
  .concepts > ul {
    text-align: left;
  }
  p {
    font-size: 1.5vmax;
  }
  a {
    font-size: 1.5vmax;
  }
}

@media all and (max-width: 768px) {
  .photo2 > img {
    width: 20vmax;
    box-shadow: 5px 5px;
  }
  p {
    font-size: 1.5vmax;
  }
  a {
    font-size: 1.5vmax;
  }
  .concepts > a {
    text-align: left;
  }
}

@media all and (max-width: 320px) {
  p {
    font-size: 1.5vmax;
  }
  .concepts > ul {
    text-align: left;
  }
  .nav > ul {
    text-align: left;
  }
}
