/* HEADINGS */
h1 {
  color: white;
  font-size: 5vw;
  font-family: 'Caveat', cursive;
  text-align: center;
  margin: auto;
  text-shadow: 5px 5px black;
}

.heading {
  margin-bottom: 10px;
}

.blogPostHeading {
  padding-top: 1px;
  text-align: center;
}

.blogPostHeading > h2 {
  font-size: 2.5vmax !important;
}

h2 {
  /* font-family: 'Lora', serif; */
  font-family: 'Caveat', cursive;
  color: white;
  font-size: 2vmax;
  padding-left: 10px;
  padding-right: 10px;
  text-shadow: 2px 2px black;
}

.post {
  background-color: rgba(0, 0, 0, 0.1);
  font-family: 'Lora', serif;
  text-align: center;
  border-bottom: 2px solid white;
  /* border-left: 2px solid white; */
  border-right: 2px solid white;
  margin: auto;
  align-items: center;
  width: 80vw;
  border-radius: 50px;
  margin-bottom: 40px;
  font-size: 1vmax;
  box-shadow: 5px 5px;
  padding-bottom: 20px;

  /* padding-top: 1px; */
}

.concepts {
  padding-top: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  margin-bottom: 40px !important;
  text-align: center;
  border-bottom: 2px solid white;
  /* border-left: 2px solid white; */
  border-right: 2px solid white;
  margin: auto;
  align-items: center;
  width: 80vw;
  border-radius: 50px;
  box-shadow: 5px 5px;
  height: 500px;
}

.concepts > ul {
  padding-left: 0px;
}

/* TAGS */

p {
  font-size: 1vmax;
  color: white;
  font-family: 'Lora', serif;
  padding-left: 30px;
  padding-right: 30px;
}

ul {
  color: white;
  list-style-type: none;
  font-size: 1.5vmax;
  padding-inline-start: 0px;
}

li {
  display: inline;
  padding-left: 15px;
  padding-right: 15px;
}

nav < li:hover {
  color: black;
}

a {
  color: white;
  font-size: 1vmax;
  /* font-family: 'Lora', serif; */
  padding-left: 30px;
  padding-right: 30px;
  font-family: 'Caveat', cursive;
}

a:hover {
  transition: 0.5s;
  color: orange;
}

/* NAVBAR */

.nav {
  background-color: rgba(0, 0, 0, 0.7);
  font-family: 'Lora', serif;
  margin: auto;
  align-items: center;
  width: 80vw;
  text-align: center;
  border: 2px solid white;
  border-radius: 50px;
  margin-bottom: 40px;
  box-shadow: 5px 5px;
  text-shadow: 2px 2px black;
}

.nav > ul > li > a {
  text-decoration: none;
}
/* IMAGES */

#boxModelImage {
  max-width: 50%;
  height: auto;
  border: 5px solid black;
}

body {
  background: url(../blogcontent/background\ 4.avif) no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#exampleImages > img {
  max-width: 40% !important;
  height: auto !important;
  border: 5px solid black;
  /* margin-right: 20px;
  margin-left: 20px; */
  margin: 0vw 2vw 0vw 2vw;
}

#exampleImages {
  display: flex;
  justify-content: center;
}

.photoBurt > img {
  width: 10vw;
  border: 2px solid white;
  border-radius: 50%;
  margin-bottom: 30px;
  margin-top: 30px;
  box-shadow: 2.5px 2.5px;
}

.photoSam > img {
  width: 20vw;
  max-width: 100%;
  height: auto;
  border: 2px solid white;
  border-radius: 50%;
  margin-top: 0;
  box-shadow: 5px 5px;
}

.photoSam {
  text-align: center;
  margin-top: 30px;
}

/* MEDIA QUERIES */

@media all and (max-width: 1200px) {
  li {
    display: flex;
    justify-content: center;
  }
  .concepts > ul {
    text-align: center;
  }
  p {
    font-size: 1.5vmax;
  }
  a {
    font-size: 1.5vmax;
  }
  h1 {
    font-size: 7vw;
  }
}

@media all and (max-width: 768px) {
  .photoBurt > img {
    width: 20vw;
    box-shadow: 5px 5px;
  }
}
@media all and (max-width: 320px) {
}
