/* HEADINGS */

h1 {
  color: white;
  font-size: 5vmax;
  font-family: 'Shadows Into Light', cursive;
  text-align: center;
  margin: auto;
}

.heading {
  margin-bottom: 10px;
}

.blogPostHeading {
  text-align: center;
}

.blogPostHeading > h2 {
  font-size: 2.5vmax !important;
}

h2 {
  font-family: 'Shadows Into Light', cursive;
  color: white;
  font-size: 2vmax;
  padding-left: 10px;
  padding-right: 10px;
}

.post {
  font-family: 'Shadows Into Light', cursive;
  text-align: center;
  border: 2px solid white;
  margin: auto;
  align-items: center;
  width: 80vw;
  border-radius: 50px;
  color: white;
  margin-bottom: 40px;
  font-size: 1vmax;
  /* margin-left: 30px; */
  /* padding-left: 30px;
  padding-right: 30px; */
}

.concepts {
  margin-bottom: 40px !important;
  text-align: center;
  border: 2px solid white;
  margin: auto;
  align-items: center;
  width: 80vw;
  border-radius: 50px;
}

/* TAGS */

p {
  font-size: 1vmax;
  color: white;
  font-family: 'Shadows Into Light', cursive;
  padding-left: 30px;
  padding-right: 30px;
}

ul {
  color: white;
  list-style-type: none;
  text-decoration: none;
  font-size: 1.5vmax;
}

li {
  padding: 15px;
  display: inline;
}

li:hover {
  color: black;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: black;
}

/* NAVBAR */

.nav {
  font-family: 'Shadows Into Light', cursive;
  margin: auto;
  align-items: center;
  width: 80vw;
  text-align: center;
  border: 2px solid white;
  border-radius: 50px;
  margin-bottom: 40px;
}

/* IMAGES */

html {
  background: url(../blogcontent/background\ 4.avif) no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.photo2 > img {
  width: 10vmax;
  border: 2px solid white;
  border-radius: 50%;
  margin-bottom: 30px;
  margin-top: 30px;
}

.photo > img {
  width: 20vmax;
  max-width: 100%;
  height: auto;
  border: 2px solid white;
  border-radius: 50%;
  margin-top: 0;
}

.photo {
  text-align: center;
  margin-top: 30px;
}

/* MEDIA QUERIES */

@media all and (max-width: 1200px) {
  li {
    display: flex;
  }
}

@media all and (max-width: 768px) {
  .photo2 > img {
    width: 20vmax;
  }
}

@media all and (max-width: 320px) {
  p {
    font-size: 1.5vmax;
  }
}
